
.main{
	width: 70%;
	margin: 0 auto;
	padding: 0 20px;
	background: rgba(130, 132, 157, 0.5);
	border-right: 10px solid rgba(169, 172, 204, 0.9);
	border-left: 10px solid rgba(169, 172, 204, 0.9);
	overflow: hidden;
}

/*----------------------
HEADER----------------*/
.nav_top li {
	display: inline-block;
}

/*----------------------
HOME----------------*/
.wrapper-caroussel {
	width: 95%;
	margin: 30px auto 80px;
}


/*----------------------
FOOTER----------------*/
.footer .col-md-6{
	background-color: blue;
}

.footer nav ul{
	list-style: none;
}
