@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-bad9:before {
	content: "\e000";
}
.flaticon-black218:before {
	content: "\e001";
}
.flaticon-broken-heart:before {
	content: "\e002";
}
.flaticon-emoticon120:before {
	content: "\e003";
}
.flaticon-emoticons11:before {
	content: "\e004";
}
.flaticon-evil6:before {
	content: "\e005";
}
.flaticon-facebook29:before {
	content: "\e006";
}
.flaticon-fake1:before {
	content: "\e007";
}
.flaticon-happy6:before {
	content: "\e008";
}
.flaticon-linkedin12:before {
	content: "\e009";
}
.flaticon-photos12:before {
	content: "\e00a";
}
.flaticon-sad70:before {
	content: "\e00b";
}
.flaticon-smile30:before {
	content: "\e00c";
}
.flaticon-smiley36:before {
	content: "\e00d";
}
.flaticon-smiley40:before {
	content: "\e00e";
}
.flaticon-smiley43:before {
	content: "\e00f";
}
.flaticon-smiley47:before {
	content: "\e010";
}
.flaticon-smiley49:before {
	content: "\e011";
}
.flaticon-smiley51:before {
	content: "\e012";
}
.flaticon-smiling36:before {
	content: "\e013";
}
.flaticon-smiling38:before {
	content: "\e014";
}
.flaticon-smiling40:before {
	content: "\e015";
}
.flaticon-telephone46:before {
	content: "\e016";
}
.flaticon-twitter2:before {
	content: "\e017";
}
.flaticon-valentines14:before {
	content: "\e018";
}
.flaticon-wink1:before {
	content: "\e019";
}
